[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
requests = "*"
cloudinary = "*"
flask-talisman = "*"
flask-seasurf = "*"
urllib3 = ">=1.24.2"
Jinja2 = ">=2.10.1"
werkzeug = ">=0.15.3"

[dev-packages]

[requires]
python_version = "3.6"
