.navbar-brand {
    padding-top: .375rem;
}

.navbar-links {
    font-size: 1rem;
    padding-top: .5625rem;
    padding-bottom: .375rem;
}

.navbar-links:hover {
    color: inherit;
}

.url_submit_button {
    display: block;
    width: 12.5rem;
}

a:hover {
    text-decoration: none;
    color: #007bff;
}

a {
    border-bottom: 2px solid #007bff;
}

.mobile-nav-divider {
    border-bottom: 2px solid #007bff;
}

/* sticky footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: none;
}

/* end sticky footer */
/* buy me a coffee */
.bmc-button {}

.bmc-button img {
    height: 1.275rem;
    box-shadow: none;
    border: none;
    vertical-align: middle;
}

.bmc-button>span {
    margin-left: .3125rem;
}

/* end buy me a coffee */