<div class="row mt-4 mb-3 form-submit">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2">
            <form action="{{ url_for('submit') }}" method="post">
                <div class="form-group mx-auto">
                    <input class="form-control form-control-lg mr-5 border-warning url_submit_box" name="url_submit" id="url_submit">
                    <button type="submit" class="btn btn-lg btn-warning mt-4 mx-auto url_submit_button">Get image</button>
                </div>
            </form>
        </div>
    </div>