<footer class="footer bg-warning mt-4">
    <div class="container">
        <div class="row pt-3 pb-3">
            <div class="col-12 col-sm-5 col-lg-4">
                <p class="text-left">Site created by <a href="https://edjohnsonwilliams.co.uk">Ed Johnson-Williams</a></p>
            </div>
            <div class="col-12 col-sm-7 col-lg-8">
            <p class="text-xl-right">This website is under a
                <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 license</a>. Images provided are not owned by this website.</p>
            </div>
        </div>
    </div>
</footer>