<nav class="navbar navbar-expand-md navbar-light bg-warning mb-4">
    <div class="container-fluid">

        <a class="navbar-brand mx-auto ml-sm-0 text-center text-sm-left border-0" href="/">Get YouTube Thumbnails</a>
        <div class="w-100 d-sm-none mobile-nav-divider"></div>
        <div class="mx-auto mr-md-0 mt-3 mt-sm-0">
            <a class="bmc-button navbar-brand navbar-item navbar-links" target="_blank" href="https://www.buymeacoffee.com/edjw"><img
                    src="/static/img/buymeacoffee.svg" alt="Buy me a coffee">Buy me a coffee</a>
            <a class="navbar-brand navbar-links" href="https://github.com/edjw/get-youtubethumbnails">Github</a>
        </div>
    </div>
</nav>