{% extends "base.html" %}
{% block content %}

<div class="row mt-3 mt-sm-5">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <!-- <h2 class="text-center">YouTube video thumbnails</h2> -->
        <h3 class="text-center">
            {% if thumbnails_data|length > 1 %}
            Here are the {{thumbnails_data|length}} thumbnails

            {% else %}
            Here's the thumbnails

            {% endif %}

            available for that <a href="{{ yt_url }}">YouTube video</a>
        </h3>
        <hr>

    </div>
</div>

{% for image, data in thumbnails_data.items() %}
<div class="row mt-2 mt-sm-3">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <div class="row">
            <div class="col text-center">
                <p><span class="h3">{{ loop.index }}.</span> {{ data.width }}px wide &times; {{ data.height }}px high</p>
            </div>
        </div>
        <div class="thumbnail_container">
            <img src="{{ data.url }}" class="img-fluid mx-auto d-block yt_images" id="image_{{ loop.index }}">
        </div>

        <div class="row">
            <div class="col px-0 py-0 col-md-8 offset-md-2 mt-3 mb-3">

                {% include 'includes/download_image_form.html' %}

                {% include 'includes/overlay_submit_form.html' %}

            </div>
        </div>

        <hr>
    </div>

</div>
{% endfor %}

<div class="row mt-3 mt-sm-5 mb-5">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <h3 class="text-center">
            Get another thumbnail image
        </h3>
        {% include 'includes/another_image_form.html' %}
    </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}